body {
  padding: 0;
  background: #393939;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
}

#page-wrapper {
  margin-left: 250px;
  height: 100%;
  background: #f6f6f6;
  overflow: auto;
}

.row-fluid {
  margin: 0;
  max-width: none;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.page-header {
  margin: 0;
  padding: 20px 10px;
  color: #666;
  font-size: 1.5em;
  text-transform: uppercase;
}

table td {
  padding: 10px 0;
  border-top: 1px solid #eee;
}

.card {
  border: none;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.subtext {
  font-size: .8em;
  color: #999;
}

/*--------------------------------------------------------------
  Sidebar Nav
--------------------------------------------------------------*/
.sidebar {
  position: absolute;
  width: 250px;
  padding: 10px;
}

.sidebar-greeting {
  margin: -10px -10px 20px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

  .sidebar-greeting .avatar {
    max-width: 100px;
  }

  .sidebar-greeting__heading {
    color: #fff;
  }

.side-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.side-nav__link {
  display: block;
  padding: 8px 15px;
  color: #fff;
  border-radius: 3px;
  opacity: 0.6;
}

  .side-nav__link:hover,
  .side-nav__link:active,
  .side-nav__link:visited {
    background: rgba(255, 255, 255, 0.1);
    color: #fff;
    opacity: 1;
  }

  .side-nav__link .icon {
    margin-right: 8px;
  }

/*--------------------------------------------------------------
  Dashboard Panels
--------------------------------------------------------------*/
.stats-panel {
  position: relative;
  padding: 60px 20px;
  background: #F47678;
  border: 1px solid rgba(0,0,0,0.15);
  border-left: 0;
  color: #fff;
}

.stats-panel > span {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #fff;
}

.stats-num {
  font-size: 50px;
}

.stats-text {
  text-transform: uppercase;
  line-height: 1;
  opacity: 0.6;
}

.dashboard-module-heading {
  padding: 10px 15px;
  text-align: left;
  text-transform: uppercase;
  color: #999;
  font-weight: 300;
}

/*--------------------------------------------------------------
  Loader
--------------------------------------------------------------*/
.app-loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#circleG{
  width:64px;
  margin:auto;
  margin-top: 25%;
}

.circleG{
  background-color: transparent;
  float:left;
  height:10px;
  margin-left:7px;
  width:10px;
  animation-name:bounce_circleG;
    -o-animation-name:bounce_circleG;
    -ms-animation-name:bounce_circleG;
    -webkit-animation-name:bounce_circleG;
    -moz-animation-name:bounce_circleG;
  animation-duration:0.7775s;
    -o-animation-duration:0.7775s;
    -ms-animation-duration:0.7775s;
    -webkit-animation-duration:0.7775s;
    -moz-animation-duration:0.7775s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  border-radius:9px;
    -o-border-radius:9px;
    -ms-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
}

#circleG_1{
  animation-delay:0.1595s;
    -o-animation-delay:0.1595s;
    -ms-animation-delay:0.1595s;
    -webkit-animation-delay:0.1595s;
    -moz-animation-delay:0.1595s;
}

#circleG_2{
  animation-delay:0.3655s;
    -o-animation-delay:0.3655s;
    -ms-animation-delay:0.3655s;
    -webkit-animation-delay:0.3655s;
    -moz-animation-delay:0.3655s;
}

#circleG_3{
  animation-delay:0.4685s;
    -o-animation-delay:0.4685s;
    -ms-animation-delay:0.4685s;
    -webkit-animation-delay:0.4685s;
    -moz-animation-delay:0.4685s;
}



@keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}

@-o-keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}

@-ms-keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}

@-webkit-keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}

@-moz-keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}