.loader-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#circleG{
  width:64px;
  margin:auto;
  margin-top: 25%;
}

.circleG{
  background-color: transparent;
  float:left;
  height:10px;
  margin-left:7px;
  width:10px;
  animation-name:bounce_circleG;
    -o-animation-name:bounce_circleG;
    -ms-animation-name:bounce_circleG;
    -webkit-animation-name:bounce_circleG;
    -moz-animation-name:bounce_circleG;
  animation-duration:0.7775s;
    -o-animation-duration:0.7775s;
    -ms-animation-duration:0.7775s;
    -webkit-animation-duration:0.7775s;
    -moz-animation-duration:0.7775s;
  animation-iteration-count:infinite;
    -o-animation-iteration-count:infinite;
    -ms-animation-iteration-count:infinite;
    -webkit-animation-iteration-count:infinite;
    -moz-animation-iteration-count:infinite;
  animation-direction:normal;
    -o-animation-direction:normal;
    -ms-animation-direction:normal;
    -webkit-animation-direction:normal;
    -moz-animation-direction:normal;
  border-radius:9px;
    -o-border-radius:9px;
    -ms-border-radius:9px;
    -webkit-border-radius:9px;
    -moz-border-radius:9px;
}

#circleG_1{
  animation-delay:0.1595s;
    -o-animation-delay:0.1595s;
    -ms-animation-delay:0.1595s;
    -webkit-animation-delay:0.1595s;
    -moz-animation-delay:0.1595s;
}

#circleG_2{
  animation-delay:0.3655s;
    -o-animation-delay:0.3655s;
    -ms-animation-delay:0.3655s;
    -webkit-animation-delay:0.3655s;
    -moz-animation-delay:0.3655s;
}

#circleG_3{
  animation-delay:0.4685s;
    -o-animation-delay:0.4685s;
    -ms-animation-delay:0.4685s;
    -webkit-animation-delay:0.4685s;
    -moz-animation-delay:0.4685s;
}



@keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}

@-o-keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}

@-ms-keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}

@-webkit-keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}

@-moz-keyframes bounce_circleG{
  0%{}

  50%{
    background-color: #fff;
  }

  100%{}
}