/* ================================

BrewTracker Admin

==================================== */



/*  GLOBAL ELEMENTS
======================================================================== */
body {background:#345d8b url(images/admin-body-bg.png); font:13px Helvetica, Arial, sans-serif}
.border-radius-3 {border-radius:3px; -moz-border-radius:3px; -webkit-border-radius:3px}
.border-radius-5 {border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px}
.white-block {background:#fff;}
h2 {color:#fff;}
.inline-label {background:#BFBFBF; color:#fff; font-size:9px; font-weight:bold; padding:1px 3px 2px; text-transform:uppercase; white-space:nowrap;}
a.inline-label:hover {color:#fff !important; text-decoration:underline;}
.inline-label.red-label {background:#C43C35;}

/* Autocomplete */
.ac_results {background:#fff; border:1px solid #999; -webkit-box-shadow:0 2px 5px rgba(0,0,0,0.4); -moz-box-shadow:0 2px 5px rgba(0,0,0,0.4); box-shadow:0 2px 5px rgba(0,0,0,0.4); color:#6b6b6b; overflow:hidden; z-index:99999}
.ac_results ul {width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0;}
.ac_results li {margin: 0px; padding:7px 10px; cursor:pointer; display: block; font-size: 12px; line-height: 16px; overflow: hidden;}
.ac_loading {background: white url(images/indicator.gif) right center no-repeat;}
.ac_over {background-color: #f2f2f2; color:#333;}
@media only screen and (max-width: 767px) {
    .ac_results li {font-size:14px}
}

/* Top bar */
#topbar .eight strong {margin-top:15px;}
#topbar a {color:#fff; margin-left:15px;}
#topbar a:hover {text-decoration:underline;}

/* Page styles */
.content {margin-bottom:30px; padding:15px;}
.feedback-reply-to {background:#dcebfb;}
.approval-buttons a {clear:right; margin-bottom:10px; width:80px !important;}

/* Beer Updates */
.beer-corrections li {list-style:disc; margin:8px 0 8px 25px;}

/* Footer */
#footer {color:#fff; padding:30px 0;}
#footer a {color:#fff;}
#footer a:hover {text-decoration:underline;}













