/* ================================

BrewTracker v2.0

Date: 9/15/2015
Author: Dan Hauk
Author URI: http://danhauk.com

---
Colors

salmon       => #F2777A
bright green => #00C08B
bright blue  => #46B7E5
dull green   => #79BD9A
dark brown   => #393939

error     => #FF4A2A - red
dark blue => #242C33

==================================== */

/*--------------------------------------------------------------
    Global Styles
--------------------------------------------------------------*/
body {
    padding-top: 84px;
    background: #f8f7f4;
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

body, h1, h2, h3, h4, h5, h6, button, .button {
    font-family: "Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: #00C08B;
    transition: all 0.2s;
}

.stronghead {
    font-weight: 400;
}

.subheader {
    font-size: 85%;
    font-weight: 300;
    color: #999;
}

.section-heading {
    padding: 1.5rem 0 .5rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ddd;
    color: #989494;
    letter-spacing: 1px;
    text-transform: uppercase;
}

/* UI elements */
.avatar {
    border-radius: 50%;
}

.card {
    margin-bottom: 25px;
    background: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.02);
}

@media only screen and (max-width: 40.0625em) {
    .card.small-full {
        margin-left: -0.9375rem;
        margin-right: -0.9375rem;
    }
}

.row.callout {
    padding-top: 15px;
    padding-bottom: 15px;
    background: #552337;
}

.inline-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .inline-list:after {
        content: "";
        display: block;
        clear: both;
    }

    .inline-list li {
        display: inline;
    }

    .inline-list li:not(:last-of-type) {
        margin-right: 10px;
        padding-right: 10px;
        border-right: 1px solid #ddd;
    }

/* Alert Boxes */
.alert-box {
    position: relative;
    margin-bottom: 15px;
    padding: 10px 15px;
    color: #fff;
    font-size: .9rem;
}

    .alert-box .close {
        position: absolute;
        right: 5px;
        top: 0;
        opacity: 0.6;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 100;
        line-height: 1;
    }

        .alert-box .close:hover {
            opacity: 1;
        }

    .alert-box p {
        margin: 0;
    }

.alert-box.error {
    background: #F57A65;
}

.alert-box.success {
    background: #00C08B;
}

.alert-box.upsell {
	background: #FFEB3B;
	color: #000;
	text-align: center;
}

.alert-box.upsell a {
	color: #000;
	text-decoration: underline;
}

.upsell.global {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	margin: 0;
	padding-left: 40px;
	padding-right: 40px;
}

.upsell.global .close {
	text-decoration: none;
	top: 8px;
}

.upsell.global .close-label {
	visibility: hidden;
	font-size: 0;
}

.alert-box-link {
    color: #fff;
    text-decoration: underline;
}

    .alert-box-link:hover {
        color: #fff;
    }

.top-notify {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .9em;
    padding-left: 4.5em;
    z-index: 200;
    box-shadow: inset 3.5em 0 rgba(0,0,0,0.4);
    border: none;
    font-size: 110%;
    -webkit-animation-name: animSlideTop;
    animation-name: animSlideTop;
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
}

    .top-notify .icon {
        position: absolute;
        left: .55em;
        top: .55em;
        font-size: 1.5em;
    }

.top-notify .icon,
.top-notify .text {
    -webkit-animation-name: animScaleUp;
    animation-name: animScaleUp;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.top-notify .text {
    -webkit-animation-name: animFade;
    animation-name: animFade;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

@-webkit-keyframes animSlideTop {
    0% { -webkit-transform: translate3d(0,-100%,0); }
    50% { -webkit-transform: translate3d(0,-100%,0); }
    100% { -webkit-transform: translate3d(0,0,0); }
}

@keyframes animSlideTop {
    0% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
    50% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
    100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@-webkit-keyframes animScaleUp {
    0% { opacity: 0; -webkit-transform: scale(0,0); }
    100% { opacity 1; -webkit-transform: scale(1,1); }
}

@keyframes animScaleUp {
    0% { opacity: 0; transform: scale(0,0); }
    100% { opacity 1; transform: scale(1,1); }
}

@-webkit-keyframes animFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes animFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Loading */
.cssload-container {
    width: 100%;
    height: 21px;
    text-align: center;
}

.cssload-wheel {
    display: inline-block;
    width: 21px;
    height: 21px;
    margin: 0 auto;
    border: 2px solid rgb(242, 119, 122);
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: cssload-spin 575ms infinite linear;
        -o-animation: cssload-spin 575ms infinite linear;
        -ms-animation: cssload-spin 575ms infinite linear;
        -webkit-animation: cssload-spin 575ms infinite linear;
        -moz-animation: cssload-spin 575ms infinite linear;
}

@keyframes cssload-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes cssload-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes cssload-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes cssload-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes cssload-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

/* Buttons */
button, .button {
    background: #00C08B;
    color: #fff;
}

    button:hover, .button:hover,
    button:focus, .button:focus {
        background: #04AD7E;
        color: #fff;
    }

button.disabled, button[disabled], .button.disabled, .button[disabled],
button.disabled:hover, button.disabled:focus, button[disabled]:hover, button[disabled]:focus, .button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
    background: #81C1AF;
}

.button.outline {
    background: transparent;
    border: 1px solid #F2777A;
    color: #F2777A;
}
    .button.outline:hover,
    .button.outline:focus {
        background: #F2777A;
        color: #fff;
    }

.button.outline.secondary {
    border-color: #32b1a8;
    color: #32b1a8;
}
    .button.outline.secondary:hover {
        background: #32b1a8;
        color: #fff;
    }

button, .button {
    padding: 0.75em 2em;
}

button.tiny, .button.tiny,
button.small, .button.small {
    padding: 0.5rem 1.25rem;
}

button.tertiary, .button.tertiary {
    background: #fff;
    color: #444;
    border: 1px solid rgba(0,0,0,0.2);
}

    button.tertiary:hover, .button.tertiary:hover {
        border-color: rgba(0,0,0,0.4);
    }

button.button-scary, .button.button-scary {
    background: #FF4A2A;
    color: #fff;
    border: 1px solid #FF4A2A;
}

    button.button-scary.disabled, .button.button-scary.disabled,
    button.button-scary[disabled], .button.button-scary[disabled],
    button.button-scary.disabled:hover, .button.button-scary.disabled:hover,
    button.button-scary[disabled]:hover, .button.button-scary[disabled]:hover {
        background: #FF4A2A;
        opacity: 0.3;
    }

/* Inputs */
input[type="text"], input[type="password"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="week"], input[type="email"], input[type="number"], input[type="search"], input[type="tel"], input[type="time"], input[type="url"], input[type="color"], textarea, .StripeElement {
    border-radius: 3px;
    font-size: 16px;
    box-shadow: none;
    transition: all 0.2s;
}

input[type="text"]:focus, input[type="password"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="week"]:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="color"]:focus, textarea:focus, .StripeElement--focus {
    border: 1px solid #99e5d1;
    box-shadow: 0 0 0 1px #99e5d1;
    background: #fff;
}

input[type="text"][disabled] {
    background-color: #eee;
    color: #999;
}

input.error, textarea.error, select.error,
input.error:focus, textarea.error:focus, select.error:focus {
    margin-bottom: inherit;
    border-color: #FF4A2A;
    box-shadow: 0 0 0 1px #FF4A2A;
}

.help-text {
    display: block;
    margin-top: -.75rem;
    font-size: 70%;
    color: #999;
}

.input-group {
	display: table;
	width: 100%;
	margin-bottom: 1rem;
}

.input-group-label,
.input-group-field {
	margin: 0;
  white-space: nowrap;
  display: table-cell;
  vertical-align: middle;
}

.input-group-label {
	padding: 0 1rem;
  border: 1px solid #cacaca;
  background: #eee;
  text-align: center;
  white-space: nowrap;
  width: 1%;
  height: 100%;
	font-size: 0.85em;
	border-radius: 3px 0 0 3px;
	border-right: 0;
}

input.input-group-field {
	margin-bottom: 0;
	border-radius: 0 3px 3px 0;
}

/* Modals */
.reveal-modal {
    background: #F8F7F4;
}

.reveal-modal .close-reveal-modal {
    font-weight: 300;
}

.modal-title {
    margin: -1.875rem -1.875rem 1.875rem;
    padding: 1.25rem 1.875rem 1rem;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    border-radius: 3px 3px 0 0;
}

.modal-section--full-width {
    margin-left: -1.875em;
    margin-right: -1.875em;
}

.swag-modal--image {
    margin-top: -1.875em;
    margin-bottom: 1.875em;
}

#swag-modal #address {
    height: 6em;
}

@media only screen and (min-width: 40.0625em) {
    .reveal-modal.small {
        width: 60%;
    }
}

@media only screen and (min-width: 64.0625em) {
    .reveal-modal.small {
        width: 40%;
    }
}

/* Autocomplete */
.autocomplete-container {
    position: relative;
}

.autocomplete-container .autocomplete {
    position: absolute;
    top: calc(100% - 3px);
    left: 0;
		max-height: 200px;
    width: 100%;
    z-index: 1;
		overflow: scroll;
    background: #fff;
    border: 1px solid #ddd;
}

.autocomplete-container .autocomplete-option {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color: #555;
}

    .autocomplete-container .autocomplete-option:hover {
        background: #f5f5f5;
    }

/*--------------------------------------------------------------
    Navbar
--------------------------------------------------------------*/
.topbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 100;
    background: #242C33;
    background: #393939;
}

/* Logo */
.logo {
    margin: 0 0 0 15px;
    height: 60px;
    width: 200px;
    background: url(/img/brewtrackr-2.0.png) no-repeat left center;
    background-size: auto 60px;
    text-indent: -9999em;
}

    .logo a {
        display: block;
    }

/* Buttons */
.topbar-buttons {
    margin-right: 15px;
}

.topbar-buttons .button {
    margin: 10px 0 0 5px;
}

/* Dropdown */
.main-nav li {
    position: relative;
}

.main-nav .user-dropdown {
    display: block;
    line-height: 60px;
    padding: 0 20px;
}
.main-nav .avatar {
    height: 36px;
}

.main-nav .divider {
    margin: 10px 0;
    height: 1px;
    width: 100%;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.user-dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
    margin-top: 10px;
    padding: 10px 0;
    border-radius: 3px;
    /*background: #FF564A;*/
    background: #F2777A;
    outline: none;
    transition: all 0.2s;
}

    .user-dropdown-menu.open {
        display: block;
        -webkit-animation-duration: .2s;
        animation-duration: .2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .user-dropdown-menu::before {
        content: '';
        display: block;
        position: absolute;
        top: -6px;
        right: 34px;
        margin-bottom: -4px;
        width: 0;
        height: 0;
        border-bottom: 6px solid #F2777A;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
    }

    .user-dropdown-menu .icon {
        margin-right: 5px;
    }

    .user-dropdown-menu li:hover,
    .user-dropdown-menu li:focus {
        background: none;
    }

    .user-dropdown-menu li a {
        display: block;
        padding: .5rem 1rem;
        color: #fff;
        font-weight: 100;
        font-size: .8rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        white-space: nowrap;
    }

				.user-dropdown-menu li a.support-link {
					color: #FFEB3B;
					font-weight: 400;
				}

        .user-dropdown-menu li a:hover {
            background: #EF5D60;
        }

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,-20px,0);
        transform: translate3d(0,-20px,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

/* Search */
.search-toggle {
    padding: 0 20px;
    line-height: 60px;
    color: #fff;
    background: #F2777A;
    font-weight: 100;
    font-size: 20px;
}
    .search-toggle:hover {
        background: #EF5D60;
        color: #fff;
    }

    .search-toggle .icon-magnifier {
        position: relative;
        top: 2px;
    }

.topbar-search {
    position: fixed;
    top: 0;
    left: 0;
    padding: 12px 0 0;
    height: 60px;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #E0DED4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    overflow: hidden;
}

.topbar-search.active {
    padding: 12px 15px 0;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

.topbar-search .icon-magnifier {
    margin-top: 6px;
    font-size: 20px;
    color: #de3e17;
}

.search-form {
    margin-left: 30px;
}

    .search-form input {
        margin-bottom: 0;
        padding-left: 0;
        border: 0;
        border-bottom: 1px solid #ddd;
        background: none;
        border-radius: 0;
        box-shadow: none;
    }

        .search-form input:focus {
            border: 0;
            border-bottom: 1px solid #de3e17;
            background: transparent;
            box-shadow: none;
        }

.search-close {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 15px;
    font-size: 40px;
    font-weight: 100;
    color: #ccc;
    line-height: 40px;
}

.topbar-search.active .search-close {
    display: block;
}

@media only screen and (max-width: 40.0625em) {
    .user-dropdown-menu li a {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

@media only screen and (max-width: 430px) {
    .logo {
        width: 42px;
    }
}

.fab {
	position: fixed;
	bottom: 16px;
	right: 16px;
	height: 56px;
	width: 56px;
	display: flex;
	align-content: center;
	justify-content: center;
	background: #F2777A;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
	border-radius: 50%;
	color: #fff;
	font-size: 48px;
	font-weight: 300;
	line-height: 60px;
}

.fab:hover,
.fab:focus {
	background: #EF5D60;
	color: #fff;
}

/*--------------------------------------------------------------
    Landing Page
--------------------------------------------------------------*/
.homepage {
    padding-top: 0;
}

.homepage .topbar,
.homepage .value-prop {
    background: #393939;
}

.homepage .topbar {
    position: static;
}

    .homepage .topbar .button.outline {
        border-color: #fff;
        color: #fff;
    }

.homepage .logo {
    background-image: url(/img/brewtrackr-2.0.png);
}

.homepage .value-prop {
    padding: 60px 0;
    text-align: center;
}

    .homepage .value-prop h2,
    .homepage .value-prop h4 {
        color: #fff;
        color: rgba(255,255,255,0.85);
    }

    .homepage .value-prop .get-started {
        margin-top: 30px;
    }

.homepage-explain {
    padding: 4rem 0;
    background: #f8f8f8;
}

.homepage-feature {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

    .feature-image-left,
    .feature-image-right {
        margin-bottom: 1rem;
    }

    .feature-image-right {
        margin-right: -20px;
    }

    .feature-image-left {
        margin-left: -20px;
    }

    .homepage-feature-text {
        padding: 0 1rem;
    }

.feature-image-left .add-shadow,
.feature-image-right .add-shadow {
    border: 1px solid #ccc;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.feature-image-mobile img {
    display: block;
    max-height: 600px;
    margin: 0 auto;
}

.feature-image-mobile {
    margin-bottom: 1rem;
    max-height: 250px;
    overflow: hidden;
}

.homepage-cta {
    margin-bottom: 1rem;
    padding-top: 2.5rem;
    background: #F2777A;
    color: #fff;
}

    .homepage-cta h3 {
        margin: 0;
        color: #fff;
    }

    .homepage-cta .button {
        margin-top: 1.5rem;
        background: none;
        border: 1px solid #fff;
        color: #fff;
    }

    .homepage-cta .button:hover {
        background: #fff;
        color: #F2777A;
    }

@media only screen and (min-width: 600px) {
    .homepage-feature {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 4rem;
    }

    .feature-image-left,
    .feature-image-right {
        max-width: calc(992 / 1440 * 100%);
    }

    .feature-image-right {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
        margin: 0 calc(-184 / 1072 * 100%) 0 calc(56 / 1072 * 100%);
        text-align: left;
    }

    .feature-image-left {
        margin: 0 calc(56 / 1072 * 100%) 0 calc(-184 / 1072 * 100%);
        text-align: right;
    }

    .homepage-feature-text {
        max-width: calc(508 / 1072 * 100%);
    }

    .feature-image-mobile {
        max-height: none;
    }
}

@media only screen and (min-width: 40.0625rem) {
    .homepage-feature-text p {
        font-size: 1.1rem;
    }
}

/*--------------------------------------------------------------
    Login/Signup
--------------------------------------------------------------*/
.login-container {
    margin-top: 60px;
}

.login-container p {
    position: relative;
}

.login-container .form-validate {
    position: absolute;
    bottom: 11px;
    right: 10px;
}

.form-validate.valid {
    color: #79BD9A;
    transition: all 0.2s;
}

.form-validate.invalid {
    color: #FF4A2A;
}

/* Modal */
.login-modal {
    background: #f8f8f8;
}

.auth-facebook {
    padding-left: 40px;
    padding-right: 40px;
    background: #3B5998 url(/img/social-facebook.svg) no-repeat -10px -3px;
    transition: opacity .2s;
}

    .auth-facebook:hover {
        background: #3B5998 url(/img/social-facebook.svg) no-repeat -10px -3px;
        opacity: .9;
    }

.auth-separator {
    margin-bottom: 1.25rem;
}

    .auth-separator::before {
        content: '';
        display: block;
        position: relative;
        top: 10px;
        border-bottom: 1px solid#ddd;
    }

    .auth-separator-text {
        position: relative;
        display: inline-block;
        padding: 0 10px;
        color: #999;
        background: #f8f8f8;
    }

.auth-modal-label {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #888;
    font-size: .75rem;
}

.auth-modal-small {
    display: block;
    text-align: center;
    font-size: .85rem;
}

/*--------------------------------------------------------------
    User Profile
--------------------------------------------------------------*/
.user-profile .row {
    margin: 0;
    position: relative;
}

.user-profile .avatar {
    padding: 15px;
}

.user-profile .row .bio {
    padding: 15px 15px 15px 0;
}

.user-profile .tab-summary {
    padding: 15px;
    border-top: 1px solid #eee;
}

    .user-profile .tab-summary div {
        float: left;
        width: 50%;
        font-size: 1.8rem;
        font-weight: 100;
        line-height: 1.4;
        color: #F2777A;
        text-align: center;
    }

        .user-profile .tab-summary div:first-of-type {
            border-right: 1px solid #e5e5e5;
        }

    .user-profile .tab-summary span {
        display: block;
        font-size: .9rem;
        color: #999;
        text-transform: uppercase;
    }

/* Subnav */
.user-profile-subnav {
    margin: 0;
    background: #f5f5f5;
}

.user-profile-subnav a {
    position: relative;
    float: left;
    width: 50%;
    padding: 20px;
    color: #999;
    font-size: .9rem;
    line-height: 1;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

    .user-profile-subnav a::after {
        content: '';
        position: absolute;
        display: block;
        bottom: -1px;
        left: 0;
        height: 3px;
        width: 100%;
        background: #F2777A;
        transition: transform 0.15s;
        transform: scaleX(0);
    }

    .user-profile-subnav a:hover,
    .user-profile-subnav a.active {
        color: #F2777A;
    }

        .user-profile-subnav a:hover::after,
        .user-profile-subnav a.active::after {
            transform: scaleX(1);
        }

.tab-sort {
    float: left;
    position: relative;
    width: 50%;
}

.tab-sort--dropdown {
    background: #F2777A;
    border-radius: 0 0 3px 3px;
    display: none;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 2;
}

    .tab-sort.open .tab-sort--dropdown {
        display: block;
        -webkit-animation-duration: .2s;
        animation-duration: .2s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .tab-sort--dropdown a {
        color: #fff;
        text-align: left;
    }

    .tab-sort--dropdown a:hover {
        background: #EF5D60;
        color: #fff;
    }

    .tab-sort--dropdown a::after {
        display: none;
    }

    .tab-sort a {
        display: block;
        float: none;
        width: 100%;
    }

.tab-sort--icon {
    cursor: pointer;
    fill: #9f9f9f;
    height: 100%;
    height: calc(100% - 2px);
    padding: 10px 10px 8px;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.2s;
    width: 34px;
}

    .tab-sort--icon:hover,
    .tab-sort.open .tab-sort--icon {
        background: #fff;
        fill: #F2777A;
    }

/* Search Tab */
.search-tab-form {
    margin: 15px;
    position: relative;
}

    .search-tab-form .icon-magnifier {
        position: absolute;
        top: 8px;
        left: 8px;
        font-size: 20px;
        color: rgba(0, 0, 0, 0.4);
        transition: color 0.2s;
    }

.search-tab-form input[type='search'] {
    margin: 0;
    padding-left: 30px;
    width: 100%;
    background: transparent;
}

    .search-tab-form input[type='search']:focus {
        background: #fff;
    }

    .search-tab-form input[type='search']:focus + .icon-magnifier {
        color: rgba(0, 0, 0, 0.8);
    }

/* Tab items */
.tab-list .tab-item {
    position: relative;
    padding: 1em;
    margin: 0;
    border-bottom: 1px solid #eee;
		transition: padding: 0.2s;

    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

    .tab-item h4 {
        margin-bottom: 0;
    }

    .tab-item h5 {
        margin-top: 0;
    }

.tab-personal {
    margin-top: 5px;
}

.tab-photo {
    padding-right: 20px !important;
}

.tab-info h6 {
    margin: 0;
    overflow: hidden;
    line-height: 1.6;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tab-rating,
.tab-notes {
    padding: 0;
}

.tab-notes {
    margin-top: 10px;
}

.tab-notes a {
    float: left;
    width: 50%;
    line-height: 30px;
    color: #B3AD9E;
    font-size: 80%;
    text-align: right;
}

    .tab-notes .show-notes {
        text-align: left;
    }

    .tab-notes a:hover {
        color: #552337;
    }

.tab-fav-flag {
    position: absolute;
    top: 0;
    right: 0;
    height: 0;
    width: 0;
    border: 8px solid #79bd9a;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

/* Show More */
.show-more-beers {
    border: 0;
    background: none;
    box-shadow: none;
}

    .show-more-beers .show-more {
        margin: 0;
    }

    .show-more-beers .cssload-container {
        padding: 18px 0;
        margin-bottom: 20px;
        height: 58px;
    }

/* Empty Tab */
.tab-empty {
    padding: 2rem;
}
.tab-empty-image {
    display: block;
    width: 60px;
    height: 88px;
    margin: 25px auto;
    background: url(img/rating.svg) no-repeat center top;
    background-size: auto 180px;
}

.tab-empty h2 {
    margin: 0;
    color: #999;
}

.tab-empty p {
    color: #ccc;
}

.tab-empty .search-toggle {
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1;
}

@media only screen and (min-width: 40.0625rem) {
    /* Profile Summary */
    .user-profile .avatar {
        padding: 25px;
    }

    .user-profile .row .bio {
        padding: 25px 25px 25px 0;
    }

    .user-profile .tab-summary {
        border-top: none;
        border-left: 1px solid #eee;
    }

    .user-profile .tab-summary div {
        margin: 2rem 0;
        font-size: 2rem;
    }

    .search-tab-form {
        margin: 8px 15px;
    }

    /* Tab List */
    .tab-list .tab-item {
        padding: 1.5em;
    }

    .tab-info h6 {
        overflow: visible;
        white-space: normal;
    }

    .tab-rating {
        margin-top: 0;
        margin-bottom: 10px;
        text-align: right;
    }

    .tab-notes a {
        float: right;
        width: auto;
        margin-left: 20px;
    }
}

/* Notes */
.notes-container {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    color: #fff;
    color: rgba(255,255,255,0.9);
}

    .notes-container .notes {
        padding: 1em 3em 1em 1em;
        overflow: auto;
        height: 100%;
        opacity: 0;
        transition: all 0.3s;
				display: flex;
				justify-content: space-between;
    }

        .notes-container .notes:before {
            display: block;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 4px;
            background: #F2777A;
            transform: translate3d(-100%,0,0);
            transition: transform 0.3s;
        }

        .notes-container .notes span,
        .notes-container .notes form {
            display: block;
            opacity: 0;
            -webkit-font-smoothing: antialiased;
            transform: translate3d(100%,0,0);
            transition: all 0.3s;
        }

.notes-container.open {
    visibility: visible;
}

    .notes-container.open .notes {
        opacity: 0.95;
        background: #393939;
    }

        .notes-container.open .notes:before {
            transform: translate3d(0,0,0);
        }

        .notes-container.open .notes span,
        .notes-container.open .notes form {
            transform: translate3d(0,0,0);
            opacity: 1;
        }

.notes-container .user-photo {
	margin-left: 20px;
	height: auto;
	width: 100px;
	flex-shrink: 0;
}

	.notes-container .user-photo img {
		height: auto;
		width: 100%;
		background: #fff;
		padding: 2px;
	}

@media all and (min-width: 40.0625rem) {
	.notes-container .notes {
		padding: 1.5em 2.5em 1.5em 1.5em;
	}
}

.close-notes {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0;
    font-size: 2em;
    font-weight: 300;
    color: #fff;
		text-align: center;
		height: 34px;
		width: 34px;
		line-height: 32px;
		background: #434343;
		border-radius: 50%;
		border: 2px solid #fff;
}

@media all and (min-width: 460px) {
	.close-notes {
		border: 0;
		background: transparent;
	}
}

/* Edit Tab Item */
#edit-tab-form {
	margin-bottom: 0;
}

.edit-tab--actions {
	display: flex;
	align-items: center;
}

.edit-tab--actions .button {
	width: 50%;
}

.edit-tab--edit-beer {
	margin-right: 12px;
}

/*--------------------------------------------------------------
    Search Results
--------------------------------------------------------------*/
.search-result {
    padding: 1em;
    border-bottom: 1px solid #eee;
}

.search-result-empty {
	margin-bottom: 10em;
	text-align: center;
}

.search-result-empty .button {
	margin-top: 2em;
}

.search-result .button {
    display: block;
    padding-left: 0;
    padding-right: 0;
}

.results-thumbnail {
    padding: 0 10px 0 0;
}

    .results-thumbnail img {
        display: block;
        margin: 0 auto;
    }

.results-info {
    padding: 0;
}

    .results-info a {
        display: block;
    }

    .results-item-title {
        background: none;
        padding: 0;
        text-align: left;
        margin: 0;
    }

    .results-item-title:hover {
        background: none;
    }

    .results-info h4 {
        margin-bottom: 0;
        color: #00C08B;
    }

    .results-info h6 {
        margin: 0;
    }

    .results-info h5,
    .results-info h6,
    .results-info .results-meta {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

.results-action {
    padding: 0;
}

.results-meta {
    display: block;
    padding-top: 2px;
    font-size: 0.8em;
    color: #999;
}

    .results-meta span {
        padding-right: 20px;
    }

    .results-meta span:not(:first-child) {
        display: none;
    }

@media only screen and (min-width: 40.0625em) {
    .search-result {
        padding: 1em 1.5em;
    }

    .results-thumbnail {
        padding-right: 20px;
    }

    .results-meta span {
        display: inline-block !important;
    }
}

/*--------------------------------------------------------------
    Beer Info
--------------------------------------------------------------*/
.beer-info .card {
    padding: 15px 0.9375rem;
}

.beer-info .beer-main-details h3,
.beer-info .beer-main-details h6 {
    margin: 0;
}

.beer-info .tab-action {
    margin: 1.25em 0 0;
}

.beer-secondary-details {
    margin: 1rem 0 0;
    padding: 0;
    color: #666;
    font-size: .8rem;
    list-style: none;
}

    .beer-secondary-details li {
        display: inline-block;
        margin-right: 10px;
        padding: 0.25rem 0.5rem 0.25rem;
        border: 1px solid #ccc;
        border-radius: 3px;
        line-height: 1;
        text-align: center;
    }

.beer-info .description {
    margin: 15px 0 0;
}

/* Other Beers by Brewery */
.other-beers {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .other-beers a {
        display: block;
        overflow: hidden;
        padding: 10px 0;
        border-top: 1px solid #eee;
    }

        .other-beers a:hover {
            background: #f9f9f9;
        }

    .other-beers img {
        margin-left: 10px;
    }

    .other-beers span {
        display: block;
        overflow: hidden;
        color: #999;
        font-size: .8rem;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

/* Comments */
.beer-info .comment {
    padding: 1.5rem 1rem 0;
}

    .beer-info .comment.highlight {
        background: rgba(78, 205, 196, 0.1);
    }

    .beer-info .comment.new {
        -webkit-animation-name: animFade;
        animation-name: animFade;
        -webkit-animation-duration: 0.4s;
        animation-duration: 0.4s;
    }

    .beer-info .comment .comment-text {
        padding-left: 1rem;
    }

@-webkit-keyframes animFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes animFade {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@media only screen and (max-width: 40.0625rem) {
    .beer-info .beer-img {
        padding-right: 0;
    }
}

@media only screen and (min-width: 40.0625rem) {
    .beer-info .tab-action {
        margin: 0 0 1.25rem;
    }

    .beer-info .comment .comment-avatar {
        padding-right: 1rem;
    }
}

/* Delete public review */
.comment-delete {
    color: #FF4A2A;
    font-size: .8em;
}

/*--------------------------------------------------------------
    Add to Tab Modal
--------------------------------------------------------------*/
.tab-modal .comments {
    margin: 1.5rem -1.875rem;
		position: relative;
}

.tab-modal textarea {
    height: 100px;
    margin-bottom: 0;
    border-radius: 3px 3px 0 0;
		padding-right: 110px;
}

.tab-modal .comment-public {
    padding: 5px;
    border: 1px solid #ccc;
    border-top: 0;
    border-radius: 0 0 3px 3px;
    background: rgba(0,0,0,0.05);
}

    .tab-modal .comment-public label {
        font-size: 0.75rem;
    }

    .tab-modal .comment-public input {
        margin-bottom: 0;
    }

.tab-modal .photo-input,
.tab-modal .photo-preview {
	position: absolute;
	top: 1px;
	right: 1px;
	height: 98px;
	width: 98px;
	border-left: 1px dashed #ccc;
}

.tab-modal .photo-input .photo-upload {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

.tab-modal .photo-input .photo-upload-button {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	background: #fff;
}

	.tab-modal .photo-input:hover .photo-upload-button {
		background: #f9f9f9;
		color: #4d4d4d;
	}

.tab-modal .photo-input .icon-camera {
	font-size: 1.5rem;
	margin-bottom: 5px;
}

.tab-modal .photo-input .photo-upload-text {
	font-size: 0.9rem;
}

.tab-modal .photo-preview {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	border-left: 1px solid #ccc;
	cursor: pointer;
	display: none;
}

.tab-modal .photo-preview.no-remove {
	cursor: default;
}

	.tab-modal .photo-preview::after {
		display: block;
		content: 'Remove';
		background: rgba( 0, 0, 0, 0.6 );
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 5px 0;
		width: 100%;
		font-size: 0.9rem;
		color: #fff;
		text-align: center;
	}

	.tab-modal .photo-preview.no-remove::after {
		display: none;
	}

	.tab-modal .photo-preview:hover::after {
		background: rgba( 0, 0, 0, 0.8 );
	}

.tab-modal .button {
    margin-bottom: 0;
}

.tab-modal .fav {
    color: #666;
}

/* Ratings */
.br-widget {
  height: 38px;
  width: 170px;
  margin: 0 auto;
}

.br-widget a {
  float: left;
  width: 20px;
  height: 38px;
  margin-right: 14px;
  background: url(img/rating.svg);
  background-size: 20px 76px;
  transition: none;
}

.br-widget a.br-active,
.br-widget a.br-selected {
  background-position: 0 -38px;
}

/* Half Ratings for premium */
.half-ratings .br-widget a {
    width: 10px;
}

.half-ratings .br-widget a:nth-child(odd) {
    margin-right: 0;
}

.half-ratings .br-widget a:nth-child(even) {
    background-position: right 0;
}

.half-ratings .br-widget a.br-active:nth-child(even),
.half-ratings .br-widget a.br-selected:nth-child(even) {
    background-position: right -38px;
}

/* Favorite Switch */
.switch {
  outline: 0;
  position: relative;
  margin-bottom: 1rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #fefefe;
  font-weight: bold;
  font-size: 0.875rem; }

.switch-input {
  opacity: 0;
  position: absolute; }

.switch-paddle {
  background: #cacaca;
  cursor: pointer;
  display: block;
  position: relative;
  width: 4rem;
  height: 2rem;
  transition: all 0.25s ease-out;
  border-radius: 0;
  color: inherit;
  font-weight: inherit; }
  input + .switch-paddle {
    margin: 0; }
  .switch-paddle::after {
    background: #fefefe;
    content: '';
    display: block;
    position: absolute;
    height: 1.5rem;
    left: 0.25rem;
    top: 0.25rem;
    width: 1.5rem;
    transition: all 0.25s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
  input:checked ~ .switch-paddle {
    background: #F2777A; }
    input:checked ~ .switch-paddle::after {
      left: 2.25rem; }
  [data-whatinput='mouse'] input:focus ~ .switch-paddle {
    outline: 0; }

.switch-active, .switch-inactive {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.switch-active {
  left: 8%;
  display: none; }
  input:checked + label > .switch-active {
    display: block; }

.switch-inactive {
  right: 15%; }
  input:checked + label > .switch-inactive {
    display: none; }

.switch.tiny .switch-paddle {
  margin: 0;
  border-radius: 3px;
  font-size: 0.625rem; }

.switch.tiny .switch-paddle::after {
  border-radius: 2px; }

.switch.tiny input:checked ~ .switch-paddle:after {
  left: 2.2rem; }

.favorite-label {
    margin-top: 5px;
}

/* Sharing buttons */
.share-label {
    margin-top: 10px;
}

.tab-share {
    float: right;
    position: relative;
    margin-bottom: 1rem;
}

.tab-share-checkbox {
    position: absolute;
    opacity: 0;
}

.tab-share-label {
    display: block;
    height: 42px;
    width: 42px;
    margin: 0 0 0 15px !important;
    background-repeat: no-repeat;
    border: 1px solid #999;
    border-radius: 3px;
    text-indent: -9999em;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: all 0.2s;
}

    .tab-share-twitter {
        background-image: url(/img/social-twitter.svg);
        border-color: #55acee;
    }

    .tab-share-facebook {
        background-image: url(/img/social-facebook.svg);
        border-color: #39579A;
        opacity: 0.55;
    }

.tab-share input:checked ~ .tab-share-label {
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%);
    background-color: #fff;
    opacity: 1;
}

.tab-share-activate {
    position: relative;
}

    .tab-share-activate span {
        display: none;
        position: absolute;
        top: 0;
        right: 40px;
        width: 180px;
        padding: 5px 10px;
        font-size: .75rem;
        color: #fff;
        background: #000;
        border-radius: 3px;
        text-indent: 0;
    }

    .tab-share-activate span::after {
        content: '';
        display: block;
        position: absolute;
        top: calc(50% - 6px);
        left: 100%;
        width: 0;
        height: 0;
        border-left: 6px solid #000;
        border-top: 6px solid transparent;
        border-bottom: 6px solid transparent;
    }

.submit-form--show-more-link {
	display: block;
	font-size: 14px;
	margin-bottom: 2rem;
	line-height: 34px;
}

@media only screen and (min-width: 40.0625rem) {
		.tab-modal .comments {
			margin-left: 0;
			margin-right: 0;
		}

    .switch.tiny .switch-paddle {
        width: 3rem;
        height: 1.5rem;
    }

    .switch.tiny .switch-paddle::after {
        width: 1rem;
        height: 1rem;
    }

    .switch.tiny input:checked ~ .switch-paddle:after {
        left: 1.75rem;
    }

    .favorite-label {
        margin: 0;
    }

    .share-label {
        margin-top: 5px;
    }

    .tab-share-label {
        height: 32px;
        width: 32px;
    }
}

/*--------------------------------------------------------------
    User Settings
--------------------------------------------------------------*/
.settings-username {
    position: relative;
    padding-right: 84px;
}

/* Avatar */
.settings-avatar {
    position: absolute;
    top: 0;
    right: 0;
    height: 64px;
    width: 64px;
    background-repeat: no-repeat;
    background-size: cover;
		overflow: hidden;
}

.settings-avatar .avatar-edit,
.settings-avatar .avatar-upload {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.settings-avatar .avatar-edit {
    background: rgba(0,0,0,0.5);
    color: #fff;
    text-align: center;
		top: 60%;
		transition: top 0.15s;
}

.settings-avatar .avatar-edit .icon-camera {
	display: block;
	padding-top: 5px;
}

.settings-avatar .avatar-edit-text {
	display: block;
	margin-top: 5px;
	line-height: 1.3;
	font-size: 12px;
	opacity: 0;
	transition: opacity 0.15s;
}

.settings-avatar:hover .avatar-edit {
	top: 0;
}

.settings-avatar:hover .avatar-edit-text {
	opacity: 1;
}

.settings-avatar .avatar-upload {
    cursor: pointer;
    opacity: 0;
}

.settings-avatar .cssload-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 76px;
    background: rgba(0,0,0,0.5);
    border-radius: 50%;
}

.settings-submit {
    margin-top: 1rem;
    margin-bottom: 0;
}

/* Social Accounts */
.row.settings-social {
    margin-bottom: .25rem;
}

.settings-connect {
    display: block;
		position: relative;
    margin-bottom: 1rem;
    padding: 0 1em;
    line-height: 60px;
    background: #f5f5f5;
    border-radius: 3px;
    color: #444;
}

.settings-connect-name {
		float: right;
		line-height: 63px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: calc( 100% - 40px );
}

.settings-connect-button {
    text-align: center;
}

    .settings-connect-button:hover {
        background: #f0f0f0;
    }

.connect-twitter {
    color: #55acee;
}

    .connect-twitter:hover {
        color: #55acee;
    }

.connect-facebook {
    color: #39579A;
}

    .connect-facebook:hover {
        color: #39579A;
    }

.settings-disconnect {
		position: absolute;
		top: 0;
		right: 0;
		padding: 0 10px;
		font-size: 28px;
		font-weight: 300;
		color: #444;
}

.settings-delete {
    padding: 0.5em;
    text-align: center;
}

    .settings-delete .link-scary {
        color: #FF4A2A;
        font-size: .8em;
    }

/*--------------------------------------------------------------
    Footer
--------------------------------------------------------------*/
#footer {
    color: #AEADAB;
}

    #footer a {
        color: #AEADAB;
    }

        #footer a:hover {
            color: #de3e17;
        }

    #footer p {
        margin-bottom: 0.5rem;
        font-size: 0.8rem;
    }

/*--------------------------------------------------------------
    404 Pages
--------------------------------------------------------------*/
.fourohfour {
    margin-bottom: 4rem;
    margin-top: -25px;
}

.fourohfour-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
    background: rgba(0,0,0,0.5);
}

.fourohfour-beer {
    background: url(/img/beer-404.jpg) no-repeat;
    background-size: cover;
}

.fourohfour-heading,
.fourohfour-subheading,
.fourohfour-secondary {
    color: #fff;
}

.fourohfour-secondary {
    padding-top: 1rem;
    border-top: 1px solid rgba(255,255,255,0.3);
}

/*--------------------------------------------------------------
    Other Pages
--------------------------------------------------------------*/
.bleed-header {
	position: relative;
	top: -24px;
	padding: 50px 0;
	text-align: center;
}

.bleed-header.left-align {
	text-align: left;
}

.bleed-header.donate {
	background: #00c08b;
	background: -moz-linear-gradient(left, #00C08B 0%, #00c0c0 100%);
	background: -webkit-linear-gradient(left, #00C08B 0%, #00c0c0 100%);
	background: linear-gradient(to right, #00C08B, #00c0c0);
}

.bleed-header.donate h2,
.bleed-header.donate h4,
.bleed-header.donate p {
	color: #fff;
	letter-spacing: -0.01em;
	font-weight: 400;
}
